<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AllTests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abef66">  <td>20/01/09 12:53:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveEmailLoginTests.positiveemailloginTests()[pri:0, instance:com.smartentry.automation.PositiveEmailLoginTests@29774679]">positiveemailloginTests</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>20/01/09 12:53:48</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositivePhoneLoginTests.positivephoneloginTests()[pri:0, instance:com.smartentry.automation.PositivePhoneLoginTests@61832929]">positivephoneloginTests</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/01/09 12:52:32</td>   <td>-75909</td> <td>&nbsp;</td><td title="&gt;&gt;SMSmartEntryBaseClassEmail.setup()[pri:0, instance:com.smartentry.automation.PositiveEmailLoginTests@29774679]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>20/01/09 12:53:12</td>   <td>-36160</td> <td>&nbsp;</td><td title="&gt;&gt;SMSmartEntryBaseClassPhone.setup()[pri:0, instance:com.smartentry.automation.PositivePhoneLoginTests@61832929]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/01/09 12:53:54</td>   <td>6005</td> <td>&nbsp;</td><td title="&lt;&lt;SMSmartEntryBaseClassEmail.teardown()[pri:0, instance:com.smartentry.automation.PositiveEmailLoginTests@29774679]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
</table>
